@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--primary-bg);
}

.titlebar {
  height: 30px;
  background: var(--sidebar-bg);
  user-select: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;

  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .left {
    height: 100%;
    background-color: var(--sidebar-bg);
    padding-left: 270px;
  }
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: 100%;

  svg {
    fill: var(--icon-color);
    width: 15px;
    height: 15px;
  }
}

.titlebar-button:hover {
  background: #3c3c3c;

  svg {
    fill: white;
  }
}

#titlebar-close:hover {
  background: #ff5f56;
  border-top-right-radius: 8px;

  svg {
    fill: white;
  }
}

.app {
  height: calc(100vh - 30px);
  overflow: hidden;
}

.macos {
  margin-top: 0;
  height: 100vh;
}

/* Hide default scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color); /* Slightly lighter than the background */
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color); /* A bit more lighter for hover effect */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color); /* Darker than the main background for contrast */
  border-radius: 4px;
}

/* Handle active state (when clicking and dragging) */
::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active-color); /* Active state color */
}

.frf-water {
  display: none;
}

#feedbackMsg {
  color: black !important;
}

.modal-top {
  background: rgb(237, 97, 65);
  background: linear-gradient(90deg, rgba(237, 97, 65, 1) 0%, rgba(235, 66, 106, 1) 100%);
}

input {
  user-select: initial;
  -webkit-user-select: initial;
  cursor: initial;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
