@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #27272d;
}

.titlebar {
  height: 30px;
  background: #1c1b20;
  user-select: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding-right: 5px;
  top: 0;
  left: 0;
  right: 0;

  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .left {
    height: 100%;
    background-color: #1c1b20;
    padding-left: 270px;
  }
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: 100%;

  svg {
    fill: white;
    width: 15px;
    height: 15px;
  }
}

.titlebar-button:hover {
  background: #3c3c3c;

  svg {
    fill: white;
  }
}

#titlebar-close:hover {
  background: #ff5f56;

  svg {
    fill: white;
  }
}

.app {
  height: calc(100vh - 30px);
  overflow: hidden;
}

.macos {
  margin-top: 0;
  height: 100vh;
}

/* Hide default scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #54545a; /* Slightly lighter than the background */
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c71; /* A bit more lighter for hover effect */
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c20; /* Darker than the main background for contrast */
  border-radius: 4px;
}

/* Handle active state (when clicking and dragging) */
::-webkit-scrollbar-thumb:active {
  background: #5a5a5f; /* Active state color */
}

.frf-water {
  display: none;
}

#feedbackMsg {
  color: black !important;
}

.modal-top {
  background: rgb(237, 97, 65);
  background: linear-gradient(90deg, rgba(237, 97, 65, 1) 0%, rgba(235, 66, 106, 1) 100%);
}
